<article class="all-ads-card">
    <article class="all-ads-card-image">
        <!-- Do not forget to change the path to the image -->
        <img src="./assets/static/img/job-icon1.png" alt="job-icon">
    </article>

    <article class="all-ads-card-content">
        <!--You must put the headline value in <h2>-->
        <h2>{{ad.headline}}</h2>
        <h3>Company name:{{ad.company}}</h3>
        <article class="all-ads-card-content-item">
            <!-- Do not forget to change the path to the image -->
            <img src="./assets/static/img/map-icon.png">
            <p>Location: {{ad.location}}</p>
        </article>
    </article>

    <article class="all-ads-card-buttons">
        <a [routerLink]="['/allads/',]" class="btn-details">Details</a>
    </article>
</article>

