<header class="header">
  <article class="header-logo">
    <img src="./assets/static/img/logo.png" />
  </article>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-list-item active">
        <a routerLink="/home" class="header-nav-list-item-link active"
          >Home Page</a>
      </li>

      <li class="header-nav-list-item">
        <a routerLink="/about" class="header-nav-list-item-link"
          >About us</a>
      </li>

      <li class="header-nav-list-item">
        <a routerLink="/feature/adds/allads" class="header-nav-list-item-link">All ads</a>
      </li>

      <li class="header-nav-list-item" *ngIf="isLoggedIn">
        <a routerLink="/feature/adds/create-ad" class="header-nav-list-item-link"
          >Create Ad</a>
      </li>

      <li class="header-nav-list-item" *ngIf="isLoggedIn">
        <a routerLink="/auth/profile/" class="header-nav-list-item-link">My Profile</a>
      </li>

      <li class="header-nav-list-item" *ngIf="isLoggedIn">
        <a
          type="button"
          (click)="authService.SignOut()"
          class="header-nav-list-item-link"
          >Logout</a>
      </li>

      <li class="header-nav-list-item" *ngIf="!isLoggedIn">
        <a routerLink="/auth/register" class="header-nav-list-item-link">Register</a>
      </li>

      <li class="header-nav-list-item" *ngIf="!isLoggedIn">
        <a routerLink="/auth/login" class="header-nav-list-item-link">Login</a>
      </li>
    </ul>
  </nav>
</header>
