<section id="login-page">
    <article class="login-page-container">
      <div class="login-page-div">
        <h2>Reset your password</h2>
        <p>Forgot your password ? Don't worry ! </p>
  
        <label for="email">Please enter your email:</label>
        <input type="text" id="email" placeholder="Your email" #passwordResetEmail required />
  
        <article class="login-page-button">
          <button
            class="btn-login"
            (click)="authService.ForgotPassword(passwordResetEmail.value)"
          >
            Reset Password
          </button>
        </article>
        <article class="no-account">
            <p>Want to go back ? <a routerLink="/auth/login">Log in</a></p>
          </article>
      </div>
  
      <article class="login-page-image">
        <img src="./assets/static/img/job.png" alt="job-image" />
      </article>
    </article>
  </section>
  