<section id="all-ads-page">
  <article class="all-ads-title">
    <h1>All ads</h1>
    <div *ngIf="Ad">
      <app-add-item *ngFor="let ad of Ad | paginate: { itemsPerPage: 6, currentPage: p}; let i = index" [ad]="ad"></app-add-item>
      <ng-container *ngIf="Ad.length === 0"> 

      <article class="not-available-ads">
        <h1>No ads created yet.</h1>
        <h2>Join and find your perfect workers.</h2>
    </article>
  </ng-container>
      <div *ngIf="!Ad">Loading...</div>
      <div class="ngx-pagination"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
    </div>
  </article>
</section>
