<section id="register-page">
  <article class="register-page-container">
    <div class="register-page-div">
      <h2>Register</h2>
      <p>Join us and find the perfect job.</p>

      <label for="email">Email:</label>
      <input
        type="email"
        formControl
        id="email"
        placeholder="Your email"
        #userEmail
        required
      />

      <label for="password">Password:</label>
      <input
        type="password"
        formControl
        id="password"
        placeholder="******"
        #userPassword
        required
      />

      <article class="register-page-button">
        <button class="btn-register"
        (click)="authService.SignUp(userEmail.value, userPassword.value)">
          Register
        </button>
      </article>

      <article class="account">
        <p>Already have an account? <a routerLink="/auth/login">Sign in</a></p>
      </article>
    </div>

    <article class="register-page-image">
      <img src="./assets/static/img/job.png" alt="image" />
    </article>
  </article>
</section>
